* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0; 
    box-sizing: border-box;
}
.kul-body {
font-family: 'Nunito Sans', sans-serif;
}
.kul-header {
width: 100vw;
height: 60vh;
}

.kul-navigation {
width: 100%;  
}
.kul-navigation-list {  
text-align: right;
padding-right: 15%;
list-style-type: none;
background-color: rgba(151, 106, 78, 0.2);
}
.kul-navigation-list__item {
font-family:'Girassol';
font-size: 16px;
margin: 15px 10px ;
display: inline-block;
padding: 0px 20px; 
}
.kul-navigation-list__number{
font-family: 'Nunito Sans', sans-serif;
font-size: 20px;
}
.kul-navigation-list__item :hover {
text-decoration: underline;
}


.kul-socialmedia-list {
padding: 0; 
}
.kul-navigation-list__item-link {
color: #8C3D14;
text-decoration: none;
}
.kul-socialmedia {
position: fixed;
left: 0;
top: 30vh;
width: 40px;
}
.kul-socialmedia:hover {
width: 60px;
height: 60px;
transition: 0.3s all;
}



.kul-hero {
background-color:rgba(151, 106, 78, 0.2);
display: flex;
justify-content: center;
text-align: center;
}
.kul-hero-slogan {
display: flex;
justify-content: center;
align-items:center;
flex-direction: column;
background-color:rgba(151, 106, 78, 0.6);
width: 30%;
margin-bottom: 3%;
text-align: center;
}
.kul-hero-slogan__text {  
font-family: 'Nunito Sans', sans-serif;
font-size: 40px;
color: #ffffff;
}
.kul-hero-slogan__second {
font-size: 60px;
color: #000000;
font-family: 'Bad Script', cursive;
}
.kul-hero__img {
width: 50%;
}


.kul-main-content {
width: 100%;
}


.kul-about-us__title {
padding-left:10%;
}
.kul-about-us__title::after {
content:'';
display: block;
border: none;
background-color: rgba(151, 106, 78, 0.2);
width: 15%;
height: 10px;
margin-top: -2%;
}
.kul-about-us {
width: 100%;
margin-top: 5%;
display: flex;
justify-content: center;
}
.kul-offer::after {
content: '';
display: row;
width: 100%;
background-color: rgba(151, 106, 78, 0.2);
height: 900px;
position: absolute;
top: 1115px;
box-sizing: border-box;
position: absolute;
z-index: -1;
}
.kul-about-us__content {
width: 940px;
display: flex;
}

.kul-about-us__photo {
}

.kul-about-us__image { 
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.kul-about-us__text {
}

.kul-about-us__article {
padding-top: 20px;    
font-size: 16px;
line-height: 20px;
padding-left: 10%;
padding-right: 40%;
}
.kul-about-us__text--highlighted {
background: #8C3D14;
color: white;
padding: 3px 5px 3px 5px;
}
.kul-offer { 
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom:5%;
padding-top: 5%;
}
.kul-offer__article {
font-size: 16px;
padding:  10px; 
text-align: center;
line-height: 20px;
display: block;
}
.kul-offer__content { 
width: 940px;
padding-top: 20px;
display: flex;
}
.kul-offer__box {
width: 100%;
display: flex;
padding: 0px 10px 0px 0px;
flex-direction: column;
}
.kul-offer__ikona {
width: 100%;
opacity: 0.8;
}
.kul-offer__ikona:hover {
opacity: 1; 
transition: 0.3s all;
}
.kul-offer__name {
display: flex;
flex-direction: column;
font-size: 16px;
font-weight: bolder;
color: #3D1D16;
padding: 20px 0px 10px 0px;
justify-content: left;  
}
.kul-offer__description {
font-size: 14px;
color: #582917; 
text-align: left;
padding-bottom: 16px;
padding-right: 70px;
}
.kul-offer__box2 {
width: 700px;
height: 500px;
margin-top: 80px;
display: flex;
flex-direction: row;
justify-content: center;
}
.kul-offer__text { 
  height: 200px;
  width: 300px;
  padding: 30px 70px 50px 50px;
  background-color: white;
  z-index: 1;
}
.kul-offer__ikona2 {
  height: 100%;
}


.kul-about-us__title, 
.kul-offer__title,
.kul-info__title, 
.kul-contact__title {
font-family:'Girassol';
font-size: 24px;
color: #3D1D16;
padding-top: 20px;
justify-content: flex-start;
}



.kul-info { 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 5%;
}
.kul-info__title {
text-align: center;
}
.kul-info__title::after {
content:'';
display: block;
border: none;
background-color: rgba(151, 106, 78, 0.2);
width: 110%;
height: 10px;
margin-top: -10%;
}

.kul-info-main {
width: 940px;
display: flex;
justify-content: center;
align-items: center;
padding-top: 40px;
}
.kul-info__article { 
width: 70%;
display: flex;
flex-direction: column;
}
.kul-info__box {
flex-direction: column;
align-items: center;
padding-left: 20%;
}
.kul-info__name {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: bolder;
  color: #3D1D16;
  padding: 20px 0px 10px 0px;
}
.kul-info__description {
  font-size: 14px;
  color: #582917; 
  text-align: left;
  padding-right: 150px;
}
.kul-info__photo { 
}
.kul-info__img {
width: 60%;
margin-bottom: 10px;
} 
.kul-info__description2 { 
  font-size: 14px;
  color: #582917; 
  text-align: left;
  padding-right: 25%;
}

.kul-contact { 
width: 100%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.kul-contact__main { 
width: 940px;
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(151, 106, 78, 0.2);
height: 150%;
}

.kul-contact__photo {
width: 50%;
}

.kul-contact__content {
width: 50%;
padding-left: 5%;
}

.kul-contact__text--main {
font-weight: bold;
color: #582917;
text-align: left;
padding-top: 5%;
font-size: 14px;
}

.kul-contact__text--second {
font-size: 12px;
margin-top: 20px;
color: #582917;
text-align: left;
background: none;
}

.kul-footer {
background-color: white;
text-align: center;
}
.kul-footer__text {
font-size: 8px;
margin: 0;
padding: 40 px; 
text-align: right;
}